body{
    text-align:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container-el{
    margin-bottom:15px;
}

#counting{
    padding:10px 20px;
    font-size:large;
    color:blue;
    border-radius: 50px;
    border:1px dotted blue;
}

button{
    padding:5px 15px;
    margin:5px;
    border:1px;
    border-radius:8px;
}

#plus-btn{
    color:white;
    font-size:large;
    font-weight:900;
    background:green;
}

#minus-btn{
    color:white;
    font-size:large;
    font-weight:900;
    background:red;
}

#reset-btn{
    color:white;
    font-size:large;
    font-weight:900;
    background:grey;

}